# Xcode
.DS_Store
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Build products
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Xcode automatic schemes
xcshareddata/

# App icons
Assets.xcassets/AppIcon.appiconset/

# Logs
*.log

# Environment files
.env
.env.local
